<h1 class="text-center">Stupid Coaching</h1>
<div class="container">
  <div class="card">
    <h3><%= @question %></h3>
    <h4>-You</h4>
  </div>
  <div class="card">
    <h3><%= @answer %></h3>
    <h4>-Your coach</h4>
  </div>
  <a href="ask" class="btn btn-primary btn-lg">Ask a new question</a>
</div>
