<h1 class="text-center">Stupid Coaching</h1>
<div class="container">
  <div class="col-sm-12 justify-content-center">
    <h3 class="text-center">Ask your coach anything</h3>
    <form action="answer" class="form-control-lg form-inline">
      <input type="text" name="question">
      <button type="submit" value="Ask!" class="btn btn-primary btn-lg">Ask!</button>
    </form>
  </div>
</div>
